*.bak
bin/**
*.o
*.so
*.exe
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/
.idea/
example/*.sh
example/*/*
example/ligandinfo
customized_data/*
config/my_init.sh
weights.tar.gz
weights/*
FinalResult.txt
dude/
dude_raspd_old/
external_test_sets/
run_outputs/

dude.tar.gz
dude_raspd_old.tar.gz
external_test_sets.tar.gz
run_outputs.tar.gz
