*.bak
bin/**
*.o
*.so
*.exe
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/
.idea/
example/*.sh
example/*/*
example/ligandinfo
customized_data/*
config/my_init.sh
weights.tar.gz
weights/*
FinalResult.txt
